@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background-color: white;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    line-height: 1.6;
}
.container {
    overflow-x: hidden;
}

/* body 추가 클래스 */

/* loading class */
body.before-load {
    overflow: hidden;
}
.before-load .container {
    display: none;
}

/* nav fixed */
.local-nav-sticky .local-nav {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: saturate(180%) blur(15px);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    -moz-backdrop-filter: saturate(180%) blur(15px);
    -o-backdrop-filter: saturate(180%) blur(15px);
}

/* loading */
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 9999;
}
.before-load .loading {
    opacity: 1;
}
.loading-circle {
    width: 54px;
    height: 54px;
    animation: loading-spin 3s infinite;
}
.loading-circle circle {
    stroke: dodgerblue;
    stroke-width: 4;
    fill: none;
    /* getTotalLength로 가지고옴 */
    stroke-dasharray: 157;
    stroke-dashoffset: 0;
    animation: loading-circle-ani 1s infinite;
}
@keyframes loading-circle-ani {
    0% {
        stroke-dashoffset: 157;
    }
    75% {
        stroke-dashoffset: -147;
    }
    100% {
        stroke-dashoffset: -157;
    }
}
@keyframes loading-spin {
    100% {
        transform: rotate(360deg);
    }
}
/* layout */
.wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    height: inherit;
}
/* gnb */
.global-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    overflow: hidden;
    z-index: 99;
}
.local-nav-list,
.global-nav-list {
    display: flex;
    align-items: center;
    height: 100%;
}
.global-nav-list {
    justify-content: space-between;
}
.global-nav-item a {
    padding: 2rem 0;
    transition: 0.3s ease-in-out;
}
.global-nav-item a:hover {
    color: gold;
}

/* local */
.local-nav {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    z-index: 99;
}
.local-nav-item:not(.logo) a {
    margin-left: 2rem;
}
.logo {
    margin-right: auto;
    transition: color 0.3s ease-in-out;
}
.logo h1 {
    font-size: 2.8rem;
    font-weight: 900;
}
/* common section */
.scroll-section {
    position: relative;
    padding-top: 50vh;
}

/* section0 */
#scroll-section-0 h1 {
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    top: -22vh;
}
#scroll-section-0 .main-message {
    color: white;
    text-shadow: 1.5px 1.5px 3px rgba(29, 29, 31, 0.6);
}
.main-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    height: 3em;

    text-align: center;
    font-size: 2.5rem;
}
.main-message p {
    font-weight: 600;
    line-height: 1.2;
}
/* section1 */
.desc {
    padding: 0 4rem;
    font-size: 1.4rem;
    color: #666;
}
.desc strong {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(29, 29, 31);
    float: left;
    margin-right: 0.5em;
}

/* section2 */
.main-message small {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5em;
}
#scroll-section-2 .main-message {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 1.5px 1.5px 3px rgba(29, 29, 31, 0.6);
}
.desc-message {
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    width: 50%;
    opacity: 0;
    text-shadow: 1.5px 1.5px 3px rgba(29, 29, 31, 0.6);
    font-size: 1.8rem;
}
.desc-message.b {
    top: 15%;
    left: 15%;
}
.desc-message.c {
    top: 65%;
    left: 30%;
}
.pin {
    width: 1px;
    height: 50px;
    background: #fff;
}

/* section3 */
#scroll-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid-message {
    padding: 0 1rem;
    font-size: 2.2rem;
    color: #666;
}

.mid-message strong {
    display: block;
    color: initial;
}

.canvas-caption {
    padding: 0 4rem;
    color: #666;
    font-size: 1.8rem;
    margin-top: -15rem;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    background: #66dec3;
}
/* common interaction design */
.sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
}
.image-blend-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-blend-canvas.sticky {
    position: fixed;
    top: 0;
}
.sticky-elem-canvas {
    height: 100%;
    top: 0;
}
.sticky-elem-canvas canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}
#video-canvas-0 {
    opacity: 0;
}
.main-message {
    top: 35vh;
    opacity: 0;
}
.desc-message {
}

/* body에 스크롤 확인용 id */
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
    display: block;
    will-change: transform, opacity;
}

.scroll-effect-end .sticky-elem {
    display: none !important;
}

/* 반응형 디자인 */
@media screen and (max-width: 768px) {
    .logo h1 {
        font-size: 1.6rem;
        font-weight: 900;
    }
    .local-nav-item:not(.logo) a {
        margin-left: 1rem;
    }
    .desc {
        padding: 0 1rem;
    }
    .canvas-caption {
        padding: 0 1rem;
        font-size: 1.4rem;
        margin: -24rem auto 0;
    }
    .desc-message {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    #scroll-section-0 h1 {
        font-size: 9vw;
    }
    .main-message {
        font-size: 4vw;
    }
    .desc {
        font-size: 2rem;
    }
    .desc strong {
        font-size: 6rem;
    }
    .main-message small {
        font-size: 2vw;
    }
    #scroll-section-2 .main-message {
        font-size: 6vw;
    }
    .desc-message {
        width: 15%;
    }
    .mid-message,
    .canvas-caption {
        width: 1000px;
        margin: 0 auto;
    }
    .mid-message {
        font-size: 3.5vw;
        margin-bottom: 30rem;
    }
    .canvas-caption {
        font-size: 2rem;
    }
    .desc-message.b {
        top: 30%;
    }
}
